<ion-header>
  <ion-toolbar>
    <ion-title>Motion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <hr>
  <ion-row>
    <ion-col>
      <ion-button expand="full" style="" (click)="movimiento()" color="tertiary">Generar</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-label>X:</ion-label>
    </ion-col>
    <ion-col>
      <ion-input value="valor de X" disabled>{{x}}</ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>Y:</ion-label>
    </ion-col>
    <ion-col>
      <ion-input value="valor de Y" disabled>{{y}}</ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>Z:</ion-label>
    </ion-col>
    <ion-col>
      <ion-input value="valor de Z" disabled>{{z}}</ion-input>
    </ion-col>
  </ion-row>
</ion-content>
