<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora :D
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input disabled [(ngModel)]="numeroConcatenar"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="generarOperaciones('%')" color="">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="metodoCE()" color="">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="metodoC()" color="">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"  (click)="metodoEliminar()" color="">Borrar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="metodoInvertirOp('1/x')" color="danger">1/x</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="operacionExpo('x2')" color="danger">x2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="operacionSqrt('sqrt')" color="danger">SQRT</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"  (click)="generarOperaciones('/')" color="dark">/</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('7')" color="light">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('8')" color="light">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('9')" color="light">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="generarOperaciones('*')" color="dark">X</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('4')" color="light">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('5')" color="light">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('6')" color="light">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="generarOperaciones('-')" color="dark">-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('1')" color="light">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('2')" color="light">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('3')" color="light">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="generarOperaciones('+')" color="dark">+</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="operacionInv('+/-')" color="danger">+/-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('0')" color="light">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="concatenarNumero('.')" color="light">.</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="generarOperaciones('=')" color="warning">=</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
